<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.csbgroup.myphr">

    <!-- Tells Google Play Store that fingerprint scanners are preferred but *not* required -->
    <uses-feature android:name="android.hardware.fingerprint"
        android:required="false"/>

    <!-- Lets app ask for permissions to use the fingerprint scanner -->
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:resizeableActivity="false"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name=".MainActivity"
            android:label="Main">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="MyPHR" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FingerprintHandler"
            android:label="MyPHR" >
        </activity>

        <activity
            android:name=".ChangePINActivity"
            android:label="MyPHR" >
        </activity>

        <activity
            android:name=".StartupActivity"
            android:label="MyPHR" >
        </activity>

    </application>

</manifest>